* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}


.header-main {
    height: 836px;
    width: 100%;
}

.navbar-main {
    height: 79px;
    width: 100%;
    box-shadow: 2px 2px 11px rgb(220, 211, 211);
    /* border: 2px solid red; */
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-logo {
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo p {
    font-size: 24px;
    font-family: "Inspiration", cursive;
    transform: translate(-255px, 0px);
}

.navbar-nav {
    display: flex;

}

.navbar-nav li {
    display: flex;
    justify-content: center;
    list-style: none;
}

.navbar-nav li a {
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    padding-right: 49px;
    color: black;
}

.nav-btn {
    height: 42px;
    width: 124px;
    border-radius: 5px;
    background: rgb(218, 102, 247);
    background: linear-gradient(207deg, rgba(218, 102, 247, 1) 48%, rgba(22, 20, 144, 1) 100%);
    font-size: 14px;
    color: white;
    border: 2px solid black;
    /* margin-left: 221px; */
}




/* banner-start */
.banner-main {
    height: 757px;
    width: 100%;

}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.banner-content {
    height: 757px;
    width: 100%;
}

.banner-box {
    margin-top: 68px;
    margin-left: 104px;
    height: 546px;
    width: 1145px;
    display: flex;
    /* border: 2px solid red; */
}

.banner-box-1 {
    height: 546px;
    width: 50%;
    /* border: 2px solid red; */
}

.para-1 {
    font-size: 45px;
    padding-top: 95px;
}

.Product {
    font-size: 45px;
    font-weight: bold;
    line-height: 71px;
    background: rgb(247, 102, 128);
    background: linear-gradient(207deg, rgba(247, 102, 128, 1) 0%, rgba(87, 0, 123, 1) 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.built {
    font-size: 53px;
    line-height: 71px;
    font-weight: bolder;
    display: inline-block;
}

.team {
    line-height: 71px;
    font-size: 53px;
    font-weight: bolder;
    background: rgb(247, 102, 128);
    background: linear-gradient(207deg, rgba(247, 102, 128, 1) 0%, rgba(87, 0, 123, 1) 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.para-2 {
    padding-top: 36px;
    line-height: 36px;
    width: 77%;
    font-size: 18px;
}

.banner-box-2 {
    height: 546px;
    width: 50%;
    /* border: 2px solid red; */
    background-image: url(./images/web-development\ 1-banner.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.banner-btn {
    height: 52px;
    width: 175px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    background-color: #3D63EA;
    margin-top: 75px;
    color: white;
    transition: 0.6s ease;
    cursor: pointer;
}

.banner-btn:hover {
    background-color: #DE4396;
}

.banner-circle {
    height: 72px;
    width: 72px;
    border-radius: 50%;
    border: none;
    transform: translate(483px, 70px);
    background: rgb(222, 67, 150);
    background: linear-gradient(207deg, rgba(222, 67, 150, 1) 0%, rgba(87, 0, 123, 1) 100%);
}

/* banner-end */



/* section-1-start */
.section-1-main {
    height: 602.34px;
    width: 100%;
    background-color: #F9F9FF;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.section-1-content {
    height: 602.34px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sec-1-heading {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.sec-1-heading p {
    /* padding-top: 49px; */
    font-size: 35px;
    font-weight: bold;
    line-height: 55px;
}

.sec-1-services {
    height: 326px;
    width: 1079px;
    display: flex;
    justify-content: center;
    gap: 40px;
    /* border: 2px solid red; */
}

.sec-1-box-1 {
    height: 287px;
    width: 333px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 16px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgb(214, 212, 212);
}

.box-2 {
    margin-top: 36px;
    height: 287px;
    width: 333px;
    border: 2px solid;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
    border-radius: 5px;
    border-image-slice: 1;
    border-width: 2px;
    box-shadow: 2px 2px 10px rgb(214, 212, 212);
}

.box-2 h3 {
    font-size: 20px;
    background: rgb(247, 102, 128);
    background: linear-gradient(207deg, rgba(247, 102, 128, 1) 0%, rgba(87, 0, 123, 1) 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.sec-1-logo {
    height: 47px;
    width: 47px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
}

.sec-1-logo img {
    height: 42px;
    width: 42px;
}

.sec-1-box-1 h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 136.5%;
}

.sec-1-box-1 p {
    line-height: 162%;
    font-size: 14px;
    width: 301px;
    color: #718096;
}

/* sec-1-end */




/* sec-2-start */
.section-2-main {
    height: 978px;
    width: 100%;
}

.container {
    padding-left: 102px;
    padding-right: 106px;
}

.section-2-content {
    height: 978px;
    width: 100%;
    padding-top: 147px;
    display: flex;
}

.sec-2-box1 {
    height: 831px;
    width: 50%;
    /* border: 2px solid red; */
}

.sec-2-box2 {
    height: 831px;
    width: 50%;
    /* border: 2px solid red; */
}

.sec-2-para1 {
    font-size: 35px;
    line-height: 55px;
    width: 65%;
}

.sec-2-span1 {
    font-weight: bold;
    line-height: 55px;
}

.small {
    font-size: 18px;
    line-height: 36px;
    color: #718096;
    width: 505px;
    text-align: left;
    padding-top: 39px;
}

.sec-2-span2 {
    background: linear-gradient(207deg, rgba(247, 102, 128, 1) 0%, rgba(87, 0, 123, 1) 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.sec-2-box1 a h3 {
    font-size: 16px;
    line-height: 25px;
    color: #57007B;
    display: inline-block;
    padding-top: 51px;
}

.sec-2-box1 a {
    text-decoration: none;
}

.fa-arrow-right-long {
    padding-left: 19px;
}

.sec-2-para2 {
    font-size: 35px;
    line-height: 55px;
}

.sec-2-span3 {
    font-weight: bold;
    line-height: 55px;
}

.sec-2-para-section {
    margin-top: 204px;
    height: 5px;
    width: 69px;
    background: rgb(247, 102, 128);
    background: linear-gradient(207deg, rgba(247, 102, 128, 1) 0%, rgba(87, 0, 123, 1) 100%);
}

.sec-2-circle {
    height: 72px;
    width: 72px;
    border-radius: 50%;
    background: rgb(247, 102, 128);
    background: linear-gradient(207deg, rgba(247, 102, 128, 1) 0%, rgba(87, 0, 123, 1) 100%);
    transform: translate(75px, 192px);
}

.sec-2-arrow {
  transform: translate(450px, 260px);
}
/* sec-2-end */





/* sec-3-start */
.section-3-main {
    height: 202px;
    width: 100%;
    background-color: #F7F7FA;
}

.section-3-content {
    height: 202px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 54px;
}

.sec-3-img-1 {
    height: 81px;
    width: 170px;
}

.sec-3-img-2 {
    height: 80px;
    width: 101px;
}

.sec-3-img-3 {
    height: 80px;
    width: 215px;
}

.sec-3-img-4 {
    height: 80px;
    width: 215px;
}

.sec-3-img-5 {
    height: 80px;
    width: 215px;
}

.sec-3-img-6 {
    height: 80px;
    width: 215px;
}

.sec-3-img-7 {
    height: 80px;
    width: 215px;
}
/* sec-3-end */





/* sec-4-start */
.section-4-main {
    height: auto;
    width: 100%;
    /* border: 2px solid red; */
}

.section-4-content {
    height: 795px;
    width: 100%;
    /* border: 2px solid red; */
}

.sec-4-box1 {
    height: 763px;
    width: 100%;
    margin-top: 125px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* border: 2px solid red; */
}

.sec-4-heading {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.sec-4-heading-para {
    font-size: 35px;
    line-height: 55px;
}

.sec-4-heading h3 {
    font-size: 35px;
    line-height: 55px;
    font-weight: bold;
}

.sec-4-para {
    font-size: 18px;
    color: #718096;
    line-height: 36px;
    text-align: center;
    width: 35%;
    padding-top: 51px;
}

.sec-4-para::before {
    content: ' \02BD';
    font-size: 90px;
    background: rgb(247, 102, 128);
    background: linear-gradient(207deg, rgba(247, 102, 128, 1) 0%, rgba(87, 0, 123, 1) 100%);
    -webkit-background-clip: text;
    color: transparent;
}

/* .sec-4-para::after {
    content: ' \02BC';
    font-size: 90px;
    background: rgb(247, 102, 128);
    background: linear-gradient(207deg, rgba(247, 102, 128, 1) 0%, rgba(87, 0, 123, 1) 100%);
    -webkit-background-clip: text;
    color: transparent;
} */

.sec-4-hr {
    height: 5px;
    width: 69px;
    background: rgb(247, 102, 128);
    background: linear-gradient(207deg, rgba(247, 102, 128, 1) 0%, rgba(87, 0, 123, 1) 100%);
}

.sec-4-arrows {
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.fa-regular {
    font-size: 45px;
    background: rgb(247, 102, 128);
    background: linear-gradient(207deg, rgba(247, 102, 128, 1) 0%, rgba(87, 0, 123, 1) 100%);
    -webkit-background-clip: text;
    color: transparent;
}
.reviews-main {
    padding-top: 101px;
    height: 197px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 76px;
    /* align-items: center; */
}

.sec-4-reviews1 {
    height: 140px;
    width: 121px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.sec-4-reviews1 img {
    height: 80px;
    width: 80px;
}

.fa-star {
    color: rgb(239, 210, 93);
    font-size: 15px;
}

.stars {
    display: flex;
}

.sec-4-arrow-up{
   transform: translate(-390px, 08px);
   /* position: absolute;
   top: 139px;
   right: 480px; */
}

.sec-4-arrow-down {
    transform: translate(305px, 70px);
}

/* 
 */
/* section-4-end */





/* section-5-start */
.section-5-main {
    height: 1777px;
    width: 1005;
    background-color: #F5F5F5;
}
